parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 1
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropIndexIfExists\\(\\)\\.$#"
			count: 1
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Class IgniterLabs\\\\Webhook\\\\Models\\\\Webhook not found\\.$#"
			count: 1
			path: src/ApiResources/Webhooks.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$automation_rule\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendWebhook.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$secret\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendWebhook.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$url\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendWebhook.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\Webhook\\\\Classes\\\\WebhookManager\\:\\:instance\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendWebhook.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\File\\:\\:existsInsensitive\\(\\)\\.$#"
			count: 1
			path: src/Classes/BaseAction.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\File\\:\\:symbolizePath\\(\\)\\.$#"
			count: 1
			path: src/Classes/BaseAction.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed Class name or object\\)\\: Unexpected token \"Class\", expected variable at offset 99$#"
			count: 1
			path: src/Classes/BaseAction.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\View\\\\View\\:\\:getPath\\(\\)\\.$#"
			count: 1
			path: src/Classes/BaseEvent.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed Class name or object\\)\\: Unexpected token \"Class\", expected variable at offset 98$#"
			count: 1
			path: src/Classes/BaseEvent.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: src/Classes/BaseEvent.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Classes/WebhookCall.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\Webhook\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 4
			path: src/Classes/WebhookManager.php

		-
			message: "#^Static call to instance method stdClass\\:\\:makePayloadFromEvent\\(\\)\\.$#"
			count: 1
			path: src/Classes/WebhookManager.php

		-
			message: "#^Static call to instance method stdClass\\:\\:registerEventListeners\\(\\)\\.$#"
			count: 1
			path: src/Classes/WebhookManager.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Classes/WebhookManager.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 3
			path: src/Exceptions/CouldNotCallWebhook.php

		-
			message: "#^Cannot call method command\\(\\) on string\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Outgoing.php

		-
			message: "#^Class IgniterLabs\\\\Webhook\\\\Classes\\\\EventPayload constructor invoked with 12 parameters, 11 required\\.$#"
			count: 1
			path: src/Jobs/CallWebhook.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\Webhook\\\\Models\\\\Outgoing\\:\\:\\$config_data\\.$#"
			count: 1
			path: src/Models/Outgoing.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\Webhook\\\\Models\\\\Outgoing\\:\\:\\$name\\.$#"
			count: 1
			path: src/Models/Outgoing.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\Webhook\\\\Models\\\\Outgoing\\:\\:\\$url\\.$#"
			count: 2
			path: src/Models/Outgoing.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\Webhook\\\\Models\\\\Outgoing\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Models/Outgoing.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 1
			path: src/Models/Outgoing.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\Webhook\\\\Models\\\\WebhookLog\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Models/WebhookLog.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\Webhook\\\\Models\\\\WebhookLog\\:\\:\\$is_success\\.$#"
			count: 3
			path: src/Models/WebhookLog.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\Webhook\\\\Models\\\\WebhookLog\\:\\:create\\(\\)\\.$#"
			count: 1
			path: src/Models/WebhookLog.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\Webhook\\\\WebhookEvents\\\\Category\\:\\:toArray\\(\\)\\.$#"
			count: 1
			path: src/WebhookEvents/Category.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\Webhook\\\\WebhookEvents\\\\Customer\\:\\:toArray\\(\\)\\.$#"
			count: 1
			path: src/WebhookEvents/Customer.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\Webhook\\\\WebhookEvents\\\\Menu\\:\\:toArray\\(\\)\\.$#"
			count: 1
			path: src/WebhookEvents/Menu.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\StatusHistory\\:\\:\\$object\\.$#"
			count: 1
			path: src/WebhookEvents/Order.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\Webhook\\\\WebhookEvents\\\\Order\\:\\:toArray\\(\\)\\.$#"
			count: 1
			path: src/WebhookEvents/Order.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\StatusHistory\\:\\:\\$object\\.$#"
			count: 1
			path: src/WebhookEvents/Reservation.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\Webhook\\\\WebhookEvents\\\\Reservation\\:\\:toArray\\(\\)\\.$#"
			count: 1
			path: src/WebhookEvents/Reservation.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\Webhook\\\\WebhookEvents\\\\Table\\:\\:toArray\\(\\)\\.$#"
			count: 1
			path: src/WebhookEvents/Table.php
