parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Igniter\\Automation\\Models\\RuleAction\:\:\$automation_rule\.$#'
			identifier: property.notFound
			count: 5
			path: src/AutomationRules/Actions/SendWebhook.php

		-
			message: '#^Access to an undefined property Igniter\\Automation\\Models\\RuleAction\:\:\$secret\.$#'
			identifier: property.notFound
			count: 1
			path: src/AutomationRules/Actions/SendWebhook.php

		-
			message: '#^Access to an undefined property Igniter\\Automation\\Models\\RuleAction\:\:\$url\.$#'
			identifier: property.notFound
			count: 1
			path: src/AutomationRules/Actions/SendWebhook.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\View\\View\:\:getPath\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Classes/BaseEvent.php

		-
			message: '#^Access to an undefined property Igniter\\Admin\\Models\\StatusHistory\:\:\$object\.$#'
			identifier: property.notFound
			count: 1
			path: src/WebhookEvents/Order.php

		-
			message: '#^Access to an undefined property Igniter\\Admin\\Models\\StatusHistory\:\:\$object\.$#'
			identifier: property.notFound
			count: 1
			path: src/WebhookEvents/Reservation.php
